<%= simple_form_for(@comment, html: { class: "form-horizontal"}) do |f| %>
  <%= f.error_notification %>

  <%= f.input :body, label: "&nbsp;", input_html: { rows: 8, style: 'width: 350px', maxlength: 4000 } %>
  
  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>




<!-- Scaffolded Code
<%#= simple_form_for(@comment) do |f| %>
  <%#= f.error_notification %>

  <div class="form-inputs">
    <%#= f.input :body %>
    <%#= f.input :post_id %>
    <%#= f.input :user_id %>
  </div>

  <div class="form-actions">
    <%#= f.button :submit %>
  </div>
<%# end %>
-->