<div class="row">
  <div class="span3">
  </div>
  <div class="span9">
      <div>  
         <%= link_to (image_tag "logo.png"), root_path %>
      </div>
      <br />      
      <div>
      	<h4>What is JobConfession?</h4>
        <p>JobConfession is a website where people share secrets and stories about things that happen in their workplace.</p>
        <br />
        <h4>How do I share my confession?</h4>
        <p>Register you account, and share your story! Please not that all submissions must be approved by a moderater before
          they will be submitted to the site.</p>
          <br />
        <h4>What am I not allowed to share?</h4>
        <p>Please do not post the real names of indivduals or organizations, or extremely hateful speech.</p>
        <br />
        <h4>What technology is this site built with?</h4>
        <p>HTML, CSS, a little bit of Javascrtip, and Ruby on Rails!</p>
        <br />
      </div>
      <%= link_to 'Back', root_path %>
    </div> <!-- end of span9 -->
</div>