<div class="row-fluid">


			<div class="span2">
    				<!-- empty -->
    		</div>



	<div class="span9">

		<!-- The top Google adsense banner will go here. -->

	<p>To the Business Insider community: I have some exciting news. Bezos Expeditions, the personal investment company of Jeff Bezos, has led a new round of financing for Business Insider. Many of our existing investors, including Institutional Venture Partners and RRE Ventures, also participated. The new capital--$5 million--will allow us to continue to invest in our editorial, technology, and client teams and make Business Insider even better. On a personal note, I will add that we are totally stoked about this. Jeff Bezos's leadership, vision, and philosophy at Amazon over the last two decades have inspired a whole generation of startups and entrepreneurs, including me. Jeff has always put Amazon's customers first. This focus is rare in American business, and it is one reason why Amazon has been so successful.</p>
    
    </div> <!-- end of span9 -->


    		<div class="span1">
    				<!-- empty -->
  			</div>


</div> <!-- end of row-fluid -->


			<!-- End of the ad banner -->
			<!-- End of the ad banner -->
			<!-- End of the ad banner -->


<div class="row-fluid">


			<div class="span2">
    				<!-- empty -->
  			</div>




	<div class="span5">
	

		<h1>Welcome to ProjectB!</h1>
				<p>You've found the home page.</p>
				<p><%= link_to "Sign Up", "#" %></p>
				<p>To the Business Insider community:

I have some exciting news.

Bezos Expeditions, the personal investment company of Jeff Bezos, has led a new round of financing for Business Insider. Many of our existing investors, including Institutional Venture Partners and RRE Ventures, also participated. The new capital--$5 million--will allow us to continue to invest in our editorial, technology, and client teams and make Business Insider even better.

On a personal note, I will add that we are totally stoked about this.

Jeff Bezos's leadership, vision, and philosophy at Amazon over the last two decades have inspired a whole generation of startups and entrepreneurs, including me. Jeff has always put Amazon's customers first. This focus is rare in American business, and it is one reason why Amazon has been so successful.  I have admired Jeff and Amazon since the mid-1990s, and it is a privilege and pleasure to have Jeff invest in the company.

Obviously, at Business Insider, we write about Amazon occasionally, along with some of Jeff's other ventures (rockets, rocket engines, and other cool stuff.) In the future, our articles on these topics will disclose that Jeff is an investor in the company.

Thank you for your support of Business Insider over the years. Our goal is still to become the world's biggest and best digital business publication, and we will keep striving to move closer to that goal every day.

Please continue to send me your suggestions and feedback. I can't always respond, but I read them all.

 
Disclosure: Jeff Bezos, CEO of Amazon, is an investor in Business Insider through his fund Bezos Expeditions.
</p>

	</div> <!-- end of span5 -->


			<div class="span1">
    				<!-- empty -->
  			</div>



	<div class="span2">
      <!--Body content-->
      <p>To the Business Insider community:

I have some exciting news.

Bezos Expeditions, the personal investment company of Jeff Bezos, has led a new round of financing for Business Insider. Many of our existing investors, including Institutional Venture Partners and RRE Ventures, also participated. The new capital--$5 million--will allow us to continue to invest in our editorial, technology, and client teams and make Business Insider even better.

On a personal note, I will add that we are totally stoked about this.

Jeff Bezos's leadership, vision, and philosophy at Amazon over the last two decades have inspired a whole generation of startups and entrepreneurs, including me. Jeff has always put Amazon's customers first. This focus is rare in American business, and it is one reason why Amazon has been so successful.  I have admired Jeff and Amazon since the mid-1990s, and it is a privilege and pleasure to have Jeff invest in the company.

Obviously, at Business Insider, we write about Amazon occasionally, along with some of Jeff's other ventures (rockets, rocket engines, and other cool stuff.) In the future, our articles on these topics will disclose that Jeff is an investor in the company.

Thank you for your support of Business Insider over the years. Our goal is still to become the world's biggest and best digital business publication, and we will keep striving to move closer to that goal every day.

Please continue to send me your suggestions and feedback. I can't always respond, but I read them all.

 
Disclosure: Jeff Bezos, CEO of Amazon, is an investor in Business Insider through his fund Bezos Expeditions.
		</p>
    </div> <!-- end of span2 -->
    



    	<div class="span2">
    		<!-- empty -->
  		</div>


</div> <!-- end of row-fluid -->
