<div class="row">
  <div class="span3">
  </div>
  <div class="span9">
      <div>  
         <%= link_to (image_tag "logo.png"), root_path %>
      </div>      
      <div>
      	<h2>TERMS AND CONDITIONS</h2>

        <p>PLEASE READ THE FOLLOWING TERMS AND CONDITIONS CAREFULLY.</p>

<p>By using JobConfession.com Web site (the 'Web Site' or 'JobConfession.com' or 'JobConfession'), you are deemed to have agreed to these terms and conditions of use. JobConfession may change the Terms and Conditions from time to time and at any time, and without actual notice to you. All such changes to these Terms and Conditions will appear on the Web Site. By using this site after we post any changes, you agree to accept those changes, whether or not you have reviewed them. If at any time you choose not to accept these Terms and Conditions of use, your only recourse is to immediately discontinue the use of this site.</p>

<p>ALL OF THE POSTS, COMMENTS AND ANY OTHER MEDIA HEREIN, UNLESS OTHERWISE NOTED, ARE COPYRIGHTED BY JOBCONFESSION. NO PART OF THIS SITE, OR ANY OF THE CONTENT CONTAINED HEREIN, MAY BE USED OR REPRODUCED IN ANY MANNER WHATSOEVER WITHOUT EXPRESSED PERMISSION OF THE COPYRIGHT HOLDER.</p> 

<p>User Conduct</p>

<p>This Web Site and any communications service, including the capability to contribute material through the contribution form (each such submission, a 'Contribution') chat room, message board, newsgroup, or other interactive service that may be available to you on or through this site (collectively, the 'Services') are provided to you solely for entertainment purposes. By using the Web Site and Services you agree: (a) to provide true, accurate, current and complete information about yourself as prompted by the subscription form, contribution form and any registration form. If any information provided by you is untrue, inaccurate, not current or incomplete, JobConfession reserves the right to terminate your subscription and refuse any and all current or future use of the Services.</p>

<p>Without limitation of the foregoing, you agree to not use the Web Site or Services to:</p>

<ul>
<li>Upload, post, publish, e-mail, reproduce, distribute or otherwise transmit any Content that victimizes, harasses, degrades, or intimidates an individual or group of individuals on the basis of religion, gender, sexual orientation, race, ethnicity, age, or disability;</li>
<li>Upload, post, publish, e-mail, reproduce, distribute or otherwise transmit any information, data, music, sound, photographs, graphics, video, messages or other materials, including any Contribution, (collectively, 'Content'), that is unlawful, harmful, threatening, embarrassing, abusive, harassing, tortious, defamatory, vulgar, obscene, libelous, deceptive, fraudulent, contains explicit or graphic descriptions or accounts of sexual acts, invasive of another's privacy, or hateful;</li>
<li>'Stalk' another;</li>
<li>Harm minors in any way;</li>
<li>Impersonate any person or entity, including, but not limited to, a JobConfession official, or falsely state or otherwise misrepresent your affiliation with a person or entity;</li>
<li>Forge headers or otherwise manipulate identifiers in order to disguise the origin of any Content transmitted to or through the Web Site;</li>
<li>Upload, post, publish, e-mail, reproduce, distribute or otherwise transmit any Content that you do not have a right to transmit under any law or under contractual or fiduciary relationships (such as inside information, proprietary and confidential information learned or disclosed as part of employment relationships or under nondisclosure agreements);</li>
<li>Upload, post, publish, e-mail, reproduce, distribute or otherwise transmit any Content that infringes any patent, trademark, trade secret, copyright or other proprietary rights of any party;</li>
<li>Upload, post, publish, e-mail, reproduce, distribute or otherwise transmit any unsolicited or unauthorized advertising, promotional materials, 'junk mail,' 'Spam,' 'chain letters,' 'pyramid schemes,' or any other form of solicitation;</li>
</li>Upload, post, publish, e-mail, reproduce, distribute or otherwise transmit any material that contains software viruses, Trojan horses, worms, time bombs, cancelbots, or any other computer code, files or programs designed to interrupt, destroy, or limit the functionality of any computer software or hardware or telecommunications equipment or any other similarly destructive activity, or surreptitiously intercept or expropriate any system, data or personal information;</li>
<li>Act in a manner that negatively affects other users' ability to engage in the Web Site or Services;</li>
<li>Engage in any activity that is contrary to or which would adversely affect the purpose or intention of the Web Site or Services, including but not limited to, actually or attempting to manipulate, corrupt or otherwise affect the outcome of the Services, in whole or part, by, among other methods, subscribing another party without their authorization or registering multiple subscriptions under the same or different names;</li>
<li>Interfere with or disrupt the Service or servers or networks connected to the Service, or disobey any requirements, procedures, policies or regulations of networks connected to the Service; or</li>
<li>Intentionally or unintentionally violate any applicable local, state, national or international law.</li>

<p>You also agree that you will not harvest, collect or store information about the users of this Web Site or the Content posted by others on this Web Site or use such information for any purpose inconsistent with the purpose of this Web Site or for the purpose of transmitting or facilitating transmission of unsolicited bulk electronic mail or communications.</p>

<p>You acknowledge that JobConfession is not responsible for material submitted to JobConfession or posted to the Web Site by users. JobConfession does not pre-screen, monitor, review or edit the Content posted by users. However, JobConfession and its designees have the right (but not the obligation) at their sole discretion to refuse or remove any Content, in whole or part, that, in JobConfession’s judgment, does not comply with these Terms and Conditions or is otherwise undesirable, inappropriate or inaccurate. JobConfession is not responsible for any failure, non-failure or delay in removing such Content. You will remain responsible for the accuracy, copyright compliance, legality, decency, or any other aspect of such submitted material, including any Contribution or part thereof, or other communication to JobConfession. You agree to immediately notify JobConfession of any unauthorized use of the Service or any other breach of security known or suspected by you.</p>

<p>You acknowledge and agree that JobConfession may, but is in no event obligated to, preserve Content and may also disclose Content if required to do so by law or in the good faith belief that such preservation or disclosure is reasonably necessary to: (a) comply with legal process; (b) enforce these Terms and Conditions; (c) respond to claims that any Content violates the rights of third-parties; or (d) protect the rights, property, or personal safety of JobConfession, its users or the public.</p>

<p>You understand that the technical processing and transmission of the Web Site, including your Content, may involve (a) transmissions over various networks; and (b) changes to conform and adapt to technical requirements of connecting networks or devices. JobConfession assumes no responsibility for the deletion or failure to store postings, Contributions or other information submitted by you or other users to the Web Site.</p>

<p>Any or all Content on the Web Site may be purged from time to time in JobConfession’s sole discretion. You acknowledge and agree that Content you view, submit or post is at your own discretion and risk, including any reliance on the accuracy, completeness, or usefulness of such Content. You acknowledge that you may not rely on any information, data, music, sound, photographs, graphics, video, messages or other materials created by JobConfession or submitted to JobConfession, including Content. You further acknowledge and agree that the views expressed on the Web Site do not necessarily reflect the views of JobConfession, and JobConfession does not support or endorse Content (including any Contribution, whether or not edited by JobConfession or its designee or presented on the Web Site edited or unedited, in whole or in part, or alone or with other content) posted or submitted by you or any User.</p>
      </div>
    </div> <!-- end of span9 -->
</div>