<script type="text/javascript">
    mixpanel.track("Home Page Loaded")
</script>

<div class="row">
  <div class="span3">
  </div>
  <div class="span9">
      <div>  
         <%= link_to (image_tag "logo.png"), root_path %>
      </div>      
    </div> <!-- end of span9 -->
</div>


<!-- start Social media buttons -->
<div class="row">
  <div class="span4">
  </div>
  <div class="span9">  
    <div class="fb-like" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false"></div>
<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<!-- start Google Plus share button -->
<!-- Place this tag where you want the share button to render. -->
<div class="g-plus" data-action="share" data-annotation="bubble"></div>

<!-- Place this tag after the last share tag. -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
<!-- end Google Plus share button -->

</div>      
    </div> <!-- end of span9 -->
</div>
<!-- Social media buttons -->


<!-- Separation -->

<div class="container">
<div class="row">
  
<div class="span5 pagination-centered">
          <!-- empty -->
        </div>

    <div class="span5">
     <%#= link_to 'New Post', new_post_path, class: "btn btn-primary btn-large" %>
      <div>
        <%= render @posts %> <!-- This connects to _post.html.erb -->
      </div>

          <br />

      <%= will_paginate @posts %>
    </div> <!-- end of span5 -->

    <div class="span1">
          <!-- empty -->
        </div>

    <!-- Vertical adsense code goes here -->
                    <script type="text/javascript"><!--
            google_ad_client = "ca-pub-4864796179735765";
            /* JobConfessionVertical */
            google_ad_slot = "6760281349";
            google_ad_width = 160;
            google_ad_height = 600;
            //-->
            </script>
            <script type="text/javascript"
            src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
            </script>

</div>

        <div class="span1">
          <!-- empty -->
        </div>

    <div class="span2">
      <!--Body content-->
      <div>
        
    </div>
    </div> <!-- end of span2 -->
    

      <div class="span1">
        <!-- empty -->
      </div>
</div>

</div> <!-- end of row -->