<div class="row">
  <div class="span12">
      <div>  
          <h1>What are some secrets from your workplace?</h1>
      </div>      
    </div> <!-- end of span9 -->
</div>


<!-- Separation -->


<div class="row">
    <div class="span3">
      <!-- empty -->
    </div>

    <div class="span5">
     <%#= link_to 'New Post', new_post_path, class: "btn btn-primary btn-large" %>
      <div>
        <%= render @posts %> <!-- This connects to _post.html.erb -->
      </div>

          <br />

      <%= will_paginate @posts %>
    </div> <!-- end of span5 -->


        <div class="span1">
          <!-- empty -->
        </div>

    <div class="span2">
      <!--Body content-->
      <div class="box">
      <p>To the Business Insider community:

I have some exciting news.

Bezos Expeditions, the personal investment company of Jeff Bezos, has led a new round of financing for Business Insider. Many of our existing investors, including Institutional Venture Partners and RRE Ventures, also participated. The new capital--$5 million--will allow us to continue to invest in our editorial, 
    </p>
    </div>
    </div> <!-- end of span2 -->
    

      <div class="span1">
        <!-- empty -->
      </div>


</div> <!-- end of row -->