<h1>Share your confession!</h1>
<br />
<p>
All confession submissions are reviewed before being posted.
</p>

<p>
Please do not include the following in your posts:
<p>

<ul>	
<li>Real Names</li>
<li>Organization Names</li>
<li>Illegal Activity</li>
<li>Extremely Hateful Speech</li>
<li>Extreme Sexuality</li>
<li>Extreme Violence</li>
</ul>
</p>
<br />
<p>But other than that, go wild and have fun!</p>
<br />
<%= render 'form' %>

<%= link_to 'Back', root_path %>
