$baseFontFamily: Open Sans;
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
$btnPrimaryBackground: #7EACCC;
$navbarBackgroundHighlight: #33455C;    /* #5D8CC9; */
$navbarBackground: #26769E; /*33455C;*/  /* #5D8CC9; */
$baseBorderRadius: 0px; /* This will remove the rounded corners */

@import 'bootstrap';
body {
    background-color: white; /*#DFE5E8;*/  /*E8E8E8 light gray*/ /*E1E3F2*/
}

/* @import 'bootstrap-responsive'; */

.footer{
    margin-top: 50px;
    color: $grayLight;
    a{
        color: $gray;
    }
}

.box {
    margin: 15px;
    padding: 15px;
    font-size: 14px;
    line-height: 1.4em;
    float: left;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
   /* box-shadow: 1px 1px 0px #444; */
    width: 100%;
    background-color: #E6E6E6; /*DFE5E8; darker blue*/ /*F2F2F2;*/
    font-size: 13px;
}

.brand {
    color: #DFEDF5 /*#D5F5D9*/ !important;
}

.navcolor {
    color: white !important;
}

.editdelete {
    float: right;
}

.container {
    width: 1200px;
}

.btn {
    border-radius: 5px !important;   /* This makes the corners of the buttons rounded. */
}

.footernav {
    list-style-type:none;
    display:inline;

    li {
    float: left;
    margin:10px;
    padding:0px;
    }
}

.approval {
    background-color: #F2988A;
    a {
        color: black;
        text-decoration: underline;
    }
}

.approved {
    background-color: #8AF298;
}