$baseFontFamily: Open Sans;
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
$btnPrimaryBackground: #7EACCC;
$navbarBackgroundHighlight: black;
$navbarBackground: black;
$baseBorderRadius: 0; /* This will remove the rounded corners */

@import 'bootstrap';

@import 'bootstrap-responsive';

.footer{
    margin-top: 50px;
    color: $grayLight;
    a{
        color: $gray;
    }
}

.box {
    margin: 15px;
    padding: 15px;
    font-size: 14px;
    line-height: 1.4em;
    float: left;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
   /* box-shadow: 1px 1px 0px #444; */
    width: 100%;
    background-color: #F2F2F2;
}

.brand {
    color: white !important;
}

.homeabout {
    color: white !important;
}

.editdelete {
    float: right;
}