<div class="footer">

 <ul class="footernav">	
  <small>
    <li>&#169; 2013 &nbsp;&nbsp;<%= link_to "JobConfession", root_path %></li>
    <li><%= link_to "About", about_path %></li>
    <li><%= link_to "FAQ", faq_path %></li>
    <li><%= link_to "Terms", terms_path %></li>
  </small>
 </ul>
</div>